<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Datos Alumno!</ion-card-title>
      <ion-img [src]="alumno.imagen" *ngIf="alumno.imagen"></ion-img>
      <ion-card-subtitle>Alumno: {{alumno.nombre}}</ion-card-subtitle>
      <ion-card-subtitle>Correo: {{alumno.email}}</ion-card-subtitle>
      <ion-card-subtitle>Rut: {{alumno.rut}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <form [formGroup]="modificarForm">
    <ion-item>
      <ion-input type="text" [(ngModel)]="alumno.nombre" formControlName="nombre" label="Nombre: " labelPlacement="floating" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="email" [(ngModel)]="alumno.email" formControlName="email" label="Email: " labelPlacement="floating"></ion-input>
    </ion-item>

     
    <ion-item>
      <ion-input type="password" [(ngModel)]="alumno.password" formControlName="password" label="Password: " labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-button (click)="seleccionImagen()" expand="block" fill="clear" shape="round">
      Elegir nueva foto
    </ion-button>
    

    <ion-item *ngIf="imagen">
      <ion-img [src]="imagen"></ion-img>
    </ion-item>

  </form>

  <ion-button (click)="EditarPerfil()" expand="block" fill="solid" shape="round">
    Editar perfil
  </ion-button>

</ion-content>

