
ion-title{
    --color:rgb(255, 193, 37);
}

ion-list{
    --background: rgb(255, 255, 255);
}

ion-item{
    --color: rgb(1, 44, 86);
    --background: rgb(255, 255, 255);
}

ion-menu{
    --background: rgb(1, 44, 86);
}

ion-toolbar ion-icon{
    --color:rgb(255, 193, 37);
    padding-left: 15px;
}

ion-menu-toggle ion-icon{
    color: rgb(255, 193, 37);
    background: rgb(1, 44, 86);
}