<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Lista Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let a of alumnos">
    <ion-card *ngIf="curso === a.idCurso">
        <ion-card-header>
          <ion-card-title>
            <ion-label>{{ a.nombre }}</ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <h3>RUT: {{ a.rut }}</h3>
            <h3>CORREO: {{ a.email }}</h3>
          </ion-label>
        </ion-card-content>
        <div class="centrar_boton">
          <ion-button (click)="registrarAsistencia(a)" fill="solid" shape="round">
            Registrar Asistencia
          </ion-button>
        </div>
    </ion-card>
  </div>
</ion-content>
