<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/mis-justificaciones"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asignatura: {{ justificacion?.asignatura }}</ion-card-title>
      <ion-card-subtitle>Docente: {{ justificacion?.docente }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Motivo: {{ justificacion?.descripcion }}</ion-label>
      </ion-item>
      <ion-item *ngIf="justificacion?.imagen">
        <ion-img [src]="justificacion?.imagen" alt="imagen_justificacion"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center; margin-top: 40px;">
    <ion-button (click)="editarJustificacion(this.justificacion)" shape="round" color="warning">
      Actualizar
    </ion-button>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="eliminarJustificacion()" shape="round" color="danger">
      Eliminar
    </ion-button>
  </div>
</ion-content>
