<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Docente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Datos Docente!</ion-card-title>
      <ion-card-subtitle>Docente: {{docente.nombre}}</ion-card-subtitle>
      <ion-card-subtitle>Correo: {{docente.email}}</ion-card-subtitle>
      <ion-card-subtitle>Rut: {{docente.rut_docente}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <form [formGroup]="modificarForm">
    <ion-item>
      <ion-input type="text" [(ngModel)]="docente.nombre" formControlName="nombre" label="Nombre: " labelPlacement="floating" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="email" [(ngModel)]="docente.email" formControlName="email" label="Email: " labelPlacement="floating"></ion-input>
    </ion-item>

     
    <ion-item>
      <ion-input type="password" [(ngModel)]="docente.password" formControlName="password" label="Password: " labelPlacement="floating"></ion-input>
    </ion-item>

  </form>

  <ion-button (click)="EditarPerfil()" expand="block" fill="solid" shape="round">
    Editar perfil
  </ion-button>

</ion-content>
