<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">

      </ion-back-button>
    </ion-buttons>

    <ion-title id="titulo">Sección 008D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor = "let j of justificaciones">
    <div *ngIf = "j.docente == nombreDocente">
      <ion-card-header>
        <ion-card-title>{{ j.asignatura }}</ion-card-title>
        <ion-card-subtitle>Docente: {{ j.docente }} </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h3>fecha:</h3>
              <h3>Motivo: {{ j.descripcion }}</h3>
            </ion-label>
          </ion-item>
        </ion-list>

        <div class="centrar_boton">
          <ion-button (click)="ingresarComentario(j)" fill="solid" shape="round">
            Ingresar comentario
          </ion-button>
        </div>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
