<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">

      </ion-back-button>
    </ion-buttons>

    <ion-title id="titulo">Sección 008D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Justificaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea labelPlacement="stacked" label="Ignacio González" value="Me dolió la guatita profe :(" [readonly]="true"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-textarea labelPlacement="stacked" label="Benjamín Zamora" value="Profesora quedó en pana el metro :'(" [readonly]="true"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
