<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Sección: 008D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!--<ion-img src="assets/miAsistencia.jpg"></ion-img>-->
    </ion-card-content>
  </ion-card>
</ion-content>
