<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/alumno"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar peril</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-input type="text" name="username" label="Username:" 
         labelPlacement="floating" [(ngModel)]="alumno.username">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" name="email" label="Email:" 
         labelPlacement="floating" [(ngModel)]="alumno.email">
      </ion-input>
    </ion-item>
  </form>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="guardarCambios()" color="success">
      Guardar Cambios
    </ion-button>
  </div>
</ion-content>
