<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vivo 5.0</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenido!</ion-card-title>
      <ion-card-subtitle>Alumno: {{username}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <swiper-container
  (slidechange)="swiperSlideChanged($event)"
    [looop]="true"
    [pagination]="true">
    <swiper-slide>
      <img src="assets/vivoDuoc.png" alt="card_img">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/vivoDuoc2.png" alt="card_img">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/vivoDuoc3.png" alt="card_img">
    </swiper-slide>
  </swiper-container>
    
</ion-content>

