<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenido!</ion-card-title>
      <ion-card-subtitle>Alumno: Vivita Sol</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/vivoDuoc.png" class="card_img"></ion-img>
  </ion-card>
</ion-content>

