<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clase"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Justificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Justificacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-textarea name="descripcion" [(ngModel)]="justificacion.descripcion" label="Escriba su justificacion" labelPlacement="floating"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-button (click)="seleccionImagen()" expand="block" fill="clear" shape="round">
      Ingresar Imagen
    </ion-button>
    </ion-item>

    <ion-item *ngIf="imagen">
      <ion-img [src]="imagen"></ion-img>
    </ion-item>



  <ion-button (click)="crearJustificacion()" expand="block" fill="clear" shape="round">
    Enviar Justificacion
  </ion-button>
</ion-content>
