<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="volver()" expand="block" fill="clear" shape="round" color:dark >
        Volver
      </ion-button>
    </ion-buttons>

    <ion-title >{{ asistencia.asignatura }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="qr-container">
    <qrcode [qrdata]="qrdata" [width]="qrWidth" [errorCorrectionLevel]="'M'"></qrcode>
  </div>

</ion-content>
