<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">

      </ion-back-button>
    </ion-buttons>

    <ion-title id="titulo">{{ asistencia?.docente }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/camara.png" class="card_img"></ion-img>

  <div class="centrar_boton">
    <ion-button (click)="registrarAsistencia()" fill="solid" shape="round">
      Activar camara
    </ion-button>
  </div>
</ion-content>
