<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="">

      </ion-back-button>
    </ion-buttons>

    <ion-title id="titulo">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card-header>
    <ion-card-title>Ingreso</ion-card-title>
  </ion-card-header>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating" >Usuario: </ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

  <!--Validation for user-->
    <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
      <div style="color: red;" *ngIf="loginForm.get('username')?.hasError('required')">
        *Username es obligatorio
      </div>
      <div style="color: red;" *ngIf="loginForm.get('username')?.hasError('minlength')">
        *Username debe tener minimo 4 caracteres
      </div>
    </div>

    <ion-item>
      <ion-label position="floating" >Password:</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

  <!--Validation for password-->
    <div style="color: red;" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
      <div *ngIf="loginForm.get('password')?.hasError('required')">
        *Password es obligatorio
      </div>
      <div style="color: red;" *ngIf="loginForm.get('password')?.hasError('minlength')">
        *Password debe tener minimo 8 caracteres
      </div>
    </div>

 
    <ion-button  (click)="login()"expand="block" fill="clear" shape="round">
      Ingresar
    </ion-button>
  </form>

</ion-content>
